<h1>商品登録</h1>
<%= form_for @product do |f| %>
   <div class="field">
    <%= f.label :name, "商品名" %>
    <%= f.text_field :name %>
   </div>

   <div class="field">
    <%= f.label :price, "値段" %>
    <%= f.number_field :price %>
   </div>

   <div class="field">
     <%= f.label :quantity, "在庫数" %>
     <%= f.number_field :quantity %>
   </div>

   <div class="actions">
    <%= f.submit "登録する" %>
   </div>
<% end %>
